<div class="container">
  <h1>Lunch Maker 2000</h1>

    <hr>
    <div class="sandwichMaker">
      <h2>Sandwich Items</h2>
      <p ng-repeat="breakfastItem in breakfastItems">
        <button ng-click="addItem(breakfastItem)">{{breakfastItem}}</button>
      </p>

      <h1 ng-repeat="item in mySandwich">
        {{item.item}}
      </h1>

      <hr>

      <div>
        <p>
          <button ng-click="addSandwichToLunchBox()"><h3>Make the sarnie</h3></button>
        </p>
      </div>
    </div>
    <hr>
    <div class="lunchbox">
      <h2>Lunchbox</h2>
      <div>
        <p ng-repeat="sarnie in lunchbox">
          {{sarnie.item}}
        </p>
      </div>
    </div>
</div>
